@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white font-sans antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-oswald uppercase;
  }
}

.font-oswald {
  font-family: 'Oswald', sans-serif;
}
